Assignment-1

Q1. Creating one variable containing:

i) string 

Ans : name ="Hello world!"

ii) list

Ans: list1= [1,2,4,5]

iii) float

Ans:Var_flaot = 1.34

iv) tuple

Ans: Var_tuple = (1,2,3,4,6)

Q2. 

var1 ="" 

var2 = ‘[ DS , ML , Python]’

var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

var4 = 1.

Answers:

var1 is a variable of type of string.

var2 is a variable of type of string.

var3 is a variable of type of list

var3 is a variable of type of float

Q3. Explain the use of the following operators using an example:
    
(i) /

(ii) %

(iii) //

(iv) **

Answers:

/  divides two numbers and return a floating point numbers.

% returns the remainder of the division of two numbers.

// returns the quotient of the division, removing the fractional part.

** raises the first number to the power of the second.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

ans:

In [6]:
list1 = [ 1,2,3,4,True, "Hello" , (1,2),False, 1.23, "pwskills" ]
for i in list1:
    print ( i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
True <class 'bool'>
Hello <class 'str'>
(1, 2) <class 'tuple'>
False <class 'bool'>
1.23 <class 'float'>
pwskills <class 'str'>

Q4.
using while loop verify if the number A is purely divisible by number B and if then how many times

In [12]:
numA = int(input("Enter the number1:"))
numB = int(input("Enter the number2:"))


if numA % numB !=0:
    print("A is not purely divisible by B.")
    
else:
    count =0
    while numA % numB ==0:
        numA = numA / numB
        count +=1
        
    print(f"A is purely divisible by B and {count} times.")

Enter the number1: 100
Enter the number2: 2

A is purely divisible by B and 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [16]:
list1 = [1,3,4,5,6,898,9,90,61,99,7,999,145,1010,12,67,79,100,89,65,32,13,9090,879,908
    ]
for i in list1:
    if i % 3 ==0:
        print(f" {i} Divisible by 3 ")
        
    else:
        print(f" {i} Not divisible by 3")

 1 Not divisible by 3
 3 Divisible by 3
 4 Not divisible by 3
 5 Not divisible by 3
 6 Divisible by 3
 898 Not divisible by 3
 9 Divisible by 3
 90 Divisible by 3
 61 Not divisible by 3
 99 Divisible by 3
 7 Not divisible by 3
 999 Divisible by 3
 145 Not divisible by 3
 1010 Not divisible by 3
 12 Divisible by 3
 67 Not divisible by 3
 79 Not divisible by 3
 100 Not divisible by 3
 89 Not divisible by 3
 65 Not divisible by 3
 32 Not divisible by 3
 13 Not divisible by 3
 9090 Divisible by 3
 879 Divisible by 3
 908 Not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data can be chnaged after they are created, for example, list and dictionaries,

In [18]:
myList = [1,2,3,4]
myList[2] = 9
print(myList)

[1, 2, 9, 4]

Immutable data types cannot be changed once they are created, tuples and strings, are some examples.

In [ ]:
tuple1 = ( 1, 3, 4, 5)
tuple1[1] = 88

TypeError: 'tuple' object does not support item assignment